{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}

{% block content %}
    <h1>Message Board Application</h1>
    {% for post in all_posts_list %}
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ post.id }}</h5>
            <p class="card-text">{{ post.text }}</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
        </div>
    {% endfor %}
{% endblock content %}